.history-detail-original {
  margin-top: 20px;
}

.history-detail-converted {
  margin-top: 20px;
}

.history-detail-list {
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
}

.create-form {
}

.history-detail-stats {
  margin-top: 40px;
}

.head-row {
  margin-top: 20px;
}

