{% extends 'base.html' %}

{% block title %}<title>Handconverter</title>{% endblock %}

{% block content %}
<h2>Welcome!</h2>
<hr>
<h4>Supported Games:</h4>
<ul>
  <li>Limit Hold'em</li>
  <li>Limit Omaha</li>
  <li>Limit Omaha Hi-Lo</li>
  <li>NL Hold'em</li>
  <li>PL Omaha</li>
  <li>PL Omaha Hi-Lo</li>
</ul>
<hr>
<span>Please don't try to break the site.</span><br>
<span>Also, the converter will only work on poker mania hands in its exact format.</span><br>
<span>If you choose to upload anything bizzaire, unexpected results may occur.</span><br>
<span>Also please report any bugs</span>
{% endblock %}
