{% extends 'base.html' %}

{% block title %}<title>Upload HHs</title>{% endblock %}

{% block javascript %}
  <meta name="csrf-token" content="{{csrf_token}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/vendor/jquery.ui.widget.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.fileupload.min.js"></script>
  {% load static %}
  <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Upload HHs</h2>

<button type="button" class="btn btn-primary js-upload-hhs">
  <span class="glyphicon glyphicon-cloud-upload"></span>
  <span>Select HHs</span>
</button>

<input id="fileupload" type="file" name="file" multiple style="display: none;">

<div class="table selected-hhs-wrapper">
  <h4>Selected Hand Histories</h4>
  <div class="selected-hh">
  </div>
</div>
{% endblock %}
